/*M/*Media rule for smaller screens*/
@media screen and (min-width: 768px){
  .container{
    width: 100%;
    font-size: 70%;
  }
}
* {
  font-family: sans-serif;
  font-size: 20px;
}


#navbar {
    position: fixed;
    min-width: 290px;
    top: 10px;
    left: 0px;
    width: 300px;
    height: 31%;
    border-right: solid;
    border-color: blue;
    border-bottom: solid blue;
}

 nav > ul > li:hover {
    background-color: lightblue;
    color: #1b1b32;
    cursor: pointer;
    
  }

  nav > ul > li > a{
    text-decoration: none;
    color: blue
  }

  nav > ul > li {
    display: flex;
    position: relative;
    margin-left: -40px;
    padding-left: 5px;
    padding-bottom: 40px;
    border-top: solid;
  }

 nav > ul {
    list-style-type: none;
}

  a{
    text-decoration: none;
    color: blue
  }

#main-doc {
  position: absolute;
  max-width: 70%;
  left: 14%;
}

ul > li {
  padding-bottom: 10px;
  
}

ol > li {
  padding-bottom: 10px;
}

#introduction {
border-bottom: solid grey;
}

#First_Steps {
border-bottom: solid grey;
}

#To_build_a_PC_you_will_need_a {
border-bottom: solid grey;
}

#Assembling_the_parts {
  border-bottom: solid grey;
}

#Tidying_cables_and_finish {
   border-bottom: solid grey;
}

#cpu {
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}

#CPU-cooler {
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}

#motherboard {
  border-bottom: 2px solid #ccc;
}

#hardrive {
  border-bottom: 2px solid #ccc;
}

#PSU {
  border-bottom: 2px solid #ccc;
}